[submodule "modules/zsh-syntax-highlighting"]
	path = modules/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "modules/zsh-completions"]
	path = modules/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
