[submodule "modules/zsh-completions"]
	path = modules/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
[submodule "modules/fasd"]
	path = modules/fasd
	url = https://github.com/clvv/fasd.git
